* {
    margin: 0;
    padding: 0;
    background-color: gray;
}

.header_img {
    /* border: 1px solid black; */
}

/* Top Menu Bar*/

.header_img img {
    width: 100vw;
    height: 20vh;
}

.header_menu {
    background: url(../images/menu_bg_brown.png) left top repeat-x;
    background-color: rgba(248, 206, 129, 0.7);
}

.header_menu ul {
    height: 6vh;
    display: flex;
    list-style: none;
    justify-content: end;
    background-color: rgba(248, 206, 129, 0.7);
    align-items: center;
}

.header_menu ul li {
    margin: 20PX;
    padding: 3px 2px 0px 2px;
    background-color: rgba(248, 206, 129, 0.7);
    display:;
}

.header_menu ul li a {
    background-color: rgba(248, 206, 129, 0.7);
    padding-bottom: 6px;
    text-decoration: none;
    font-size: 22px;
    color: blue;
}
.header_menu ul li:hover{
    background-color: blue;
}
.header_menu ul li a:hover{
    background-color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius:10px ;
}
.line{
    color: red;
    height: 25px;
    background-color: red;
}
.sub_header_menu{
    display: none;
}
.header_menu ul li:hover .sub_header_menu{
    display: flex;
    position: absolute;
}

.header_menu ul li:hover {
    /* background-color: blueviolet; */
}

/* This source code are side bar*/

.main_menu {
    /* border: 1px solid black; */
}

.main_menu ul {
    display: inline-flex;
    flex-direction: column;
    list-style: none;
    width: 15vw;
}

.main_menu ul li {
    background-color: rgba(248, 206, 129, 0.7);
    border: 1px solid black;
    padding: 3px 10px;
    width: 180PX;

}

.main_menu ul li a {
    text-decoration: none;
    background: padding-box;
    color: blue;
}

.sub_menu {
    display: none;
}

.main_menu ul li:hover {
    background-color: #fff;
}

.main_menu ul li:hover .sub_menu {
    display: block;
    position: absolute;
    margin-left: 190px;
    margin-top: -22px;
}

.main_menu ul li:hover .sub_menu ul li {
    width: 270px;
}

.sub_menu_2 {
    display: none;
}

.sub_menu ul li:hover .sub_menu_2 {
    display: block;
    position: absolute;
    margin-left: 190px;
    margin-top: -22px;
}

.sub_menu ul li:hover .sub_menu_2 {
    width: 200px;
}

.fa {
    background-color: rgba(238, 195, 115, 0.7);
    background: padding-box;
    color: black;
    float: right;
}

/* .image {
    float: right;
}

.image img {
    width: 81vw;
    height: 42vh;
}

.show_box {
    display: flex;
    width: 100%;
}

.right_box {
    float: left;
    border: 2px solid gray;
    height: 230px;   
    width: 320px;
    margin: 0 10px;
}
.right_box h1{
    background-color: #f3d007;
    font-size: 20px;
}
.content_box {
    border: 2px solid gray;
    height: 230px;   
    width: 800px;
}
.content_box h1{
    background-color: #f3d007;
    font-size: 20px;
}
.content_box ul{
    list-style: square;
    margin: 10px 30px;
}
.content_box ul li{
    
}
.content_box ul li a{
    text-decoration: none;
}
.content_box mark{
    color: black;
    font-weight: bolder;
    margin-left: 7px;
    background-color: red;
    border-radius: 7px;
}

.left_box {
    float: right;
    border: 2px solid gray;
    height: 700px;   
    width: 320px;
    margin: 0 10px;
}
.left_box h1{
    background-color: #f3d007;
    font-size: 20px;
} */